<%= render 'layouts/messages'%>

<% if @friends.count != 0 %>
  <div class="card card-header results-block">
    <% @friends.each do |friend| %>
      <strong>First name: </strong><%= friend.first_name %>
      <strong>Last name: </strong><%= friend.last_name %>
      <strong>Email: </strong><%= friend.email %>
      <%= link_to 'Follow Friend', "#", 
                      class: "btn btn-xs btn-success", method: :post %>
    <% end %>
  </div>
<% end %>